/*import font poppin*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* set all style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #2f42ff 0%, #9b63fc 58%, #50fcedd7 100%);
}

.wrapper {
  max-width: 405px;
  padding: 28px 0px 30px;
  margin: 137px auto;
  background-color: #202124;
  background: linear-gradient(180deg, #2f42ff 0%, #9b63fc 100%);
  border-radius: 7px;
  box-shadow: 0 10px 30px #00000094;
}

::selection {
  color: #fff;
  background: #3c87ff;
}

.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}

.task-input img {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}

.task-input input {
  background: #30304db9;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.task-input input::placeholder {
  color: #bfbfbf;
}

.container {
  padding: 20px 25px;
  padding-top: 0;
}

.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #5d00ff;
}

.controls .clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.2px;
  transition: transform 0.25s ease;
  background: linear-gradient(30deg, #3c87ff 0%, #2f42ff 100%);
}

.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
}

.filters span:hover {
  color: #3c87ff;
}

.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: #3c87ff;
}

.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}

.task-box.overflow {
  overflow-y: auto;
  max-height: 265px;
}
